{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'website/css/vendor/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/vendor/bulma-switch.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/vendor/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700,900" rel="stylesheet">
</head>
<body>
{% block content %}
{% endblock %}
<script src="{% static 'website/js/index.js' %}"></script>
</body>
</html>