{% extends 'website/base.html' %}

{% block title %} Todo App | Edit Item {% endblock %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            {% include 'website/components/edit-task.html' %}
        </div>
    </div>
</section>
{% endblock %}