{% extends 'website/base.html' %}

{% block content %}
<section class="hero is-fullheight app-bg">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered has-text-extrabold">Todo List</h1>
            <div class="columns is-centered is-mobile">
                <div class="column is-3-desktop is-4-tablet">
                    <p class="is-size-5 has-text-semibold has-text-grey" style="margin-top: 2px;">{% now "l, d M" %}</p>
                </div>
                <div class="column is-3-desktop is-4-tablet has-text-right">
                    <button class="button is-purple add-task-modal-open" style="padding: 10px;">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            {% include 'website/components/add-task.html' %}
            <div class="columns is-centered">
                <div class="column is-6-desktop is-8-tablet">
                    {% include 'website/messages.html' %}
                    {% if all_items %}
                        {% for task in all_items %}
                            {% include 'website/components/task.html' %}
                        {% endfor %}
                    {% else %}
                        <p class="has-text-centered has-text-grey">(Add your first item!)</p>
                    {% endif %}
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-2 centered-h">
                    <div class="field">
                        <input id="switchRoundedOutlinedDefault" type="checkbox" name="switchRoundedOutlinedDefault" class="switch is-rounded is-outlined">
                        <label for="switchRoundedOutlinedDefault"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}