<div class="modal add-task-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card" style="border-radius: 7px;">
            <div class="card-content">
                <h1 class="title is-size-4 has-text-centered">Add Task</h1>
                <form method="POST" style="margin-bottom: 20px;">
                    {% csrf_token %}
                    <div class="field">
                        <p class="control is-expanded">
                            <input type="text" class="input task-input" placeholder="Add Todo Item" name="item" required>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-purple add-button is-fullwidth" type="submit">
                                Add
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button class="modal-close add-task-modal-close is-large" aria-label="close"></button>
</div>