<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card" style="border-radius: 7px;">
            <div class="card-content">
                <h1 class="title is-size-4 has-text-centered">Edit Task</h1>
                {% if item %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <p class="control is-expanded">
                            <input type="text" class="input task-input" placeholder="{{ item.item }}" name="item"
                                value="{{ item.item }}">
                        </p>
                        <input type="hidden" value="{{ item.completed }}" name="completed">
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-purple is-fullwidth" type="submit">Update</button>
                        </p>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <a href="{% url 'index' %}" class="modal-close add-task-modal-close is-large" aria-label="close"></a>
</div>