<div class="card task-card">
    <div class="card-content">
        <div class="columns is-mobile">
            <div class="column is-half centered-v">
                <p class="{% if task.completed %}is-striked{% endif %}">
                    <a href="{% if task.completed %}{% url 'undo' task.id %}{% else %}{% url 'complete' task.id %}{% endif %}">
                        {% if task.completed %} 
                        <i class="far fa-check-circle fa-lg has-text-purple" style="margin-right: 5px;transition: all .3s ease-in-out;"></i>
                        {% else %}
                        <i class="far fa-circle fa-lg has-text-purple" style="margin-right: 5px;transition: all .3s ease-in-out;"></i>
                        {% endif %}
                    </a>
                    {{ task.item }}
                </p>
            </div>
            <div class="column is-half centered-v">
                <div class="buttons has-addons is-right">
                    <!-- <i class="fas fa-ellipsis-h"></i> -->
                    <a href="{% url 'edit' task.id %}" class="button is-borderless">
                        <i class="far fa-edit has-text-grey-light"></i>
                    </a>
                    <a href="{% url 'delete' task.id %}" class="button is-borderless">
                        <i class="far fa-trash-alt has-text-danger"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>